<table class="table">
  <thead>
    <tr>
      <th scope="col">Naam</th>
      <th scope="col">Bereidingstijd</th>
      <th scope="col">Soort recept</th>
      <th scope="col">Boek</th>
    </tr>
  </thead>
  <tbody>
    <% searchResult.forEach(recipe => { %>
    <tr>
      <td><a href="/recipes/<%= recipe.name %>"><%= recipe.name %></a></td>
      <td><%= recipe.preparationTime %> minuten</td>
      <td><%= recipe.type %></td>
      <td><%= recipe.book %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
