<%- include("partials/header") -%>


<section class="page-section" id="title">

  <div class="container-fluid">
    <div>
      <h1 class="heading heading-main">Sjoukjes recepten<img class="title-image" src="/images/clipart/carrot.png" alt="carrot"></img></h1>
      <h2 class="heading heading-curly">De lekkerste gerechten voor elk moment van de dag</h2>
    </div>
    <div class="container">
      <form class="item" action="/" method="post">
        <div class="input-group rounded">
          <input type="search" name="search" class="search-bar form-control rounded" placeholder="Zoek recepten" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <button type="submit" class="search-btn btn btn-outline-secondary"><i class="fas fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container-fluid">
    <hr>
  </div>
</section>

<section class="page-section container-fluid">
  <div class="row">
    <% demoRecipes.forEach(recipe => { %>
    <div class="card-column col-lg-4 col-md-6">
      <a href="/recipes/<%= recipe.name %>" class="card border-success">
        <img src="/images/<%= recipe.name.replace(/\s/g,'_') %>.jpg" class="recipe-image card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title"><%= recipe.name %></h4>
            <h5 class="card-text"><%= recipe.type %></h5>
            <p class="card-text">Bereidingstijd <%= recipe.preparationTime %>min</p>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</section>


<%- include("partials/footer") -%>
