<%- include("partials/header") -%>

<section class="container-fluid">
  <% if (searchValue == ""){ %>
  <% header = "Alle recepten" %>
  <% }else{ %>
  <% header = "Recepten met " + searchValue %>
  <% } %>
  <h1 class="heading-md"><%= header %></h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Naam</th>
        <th scope="col">Bereidingstijd</th>
        <th scope="col">Soort recept</th>
        <th scope="col">Boek</th>
      </tr>
    </thead>
    <tbody>
      <% searchResult.forEach(recepe => { %>
      <tr>
        <td><%= recepe.name %></td>
        <td><%= recepe.preparationTime %> minuten</td>
        <td><%= recepe.type %></td>
        <td><%= recepe.book %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</section>

<%- include("partials/footer") -%>
